<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    {% include "top_navbar.html" %}

    <main class="auth-page">
        <section class="auth-wrapper">
            <div class="auth-card">
                <h1 class="auth-title">Login</h1>
                <p class="auth-subtitle">Sign in to continue</p>

                {% if fail_alert %}
                <div class="alert-error">
                    Login failed
                </div>
                    {% endif %}
                <form class="auth-form" method="POST" action="/login">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Enter your email"
                            required
                        >
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Enter your password"
                            required
                        >
                    </div>

                    <button type="submit" class="auth-btn">Login</button>
                </form>

                <div class="auth-footer-text">
                    <p>Don’t have an account? <a href="/create_account">Create account</a></p>
                </div>
            </div>
        </section>
    </main>

    {% include "bottom_navbar_home.html" %}

</body>
</html>