<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='question.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend.css') }}">

    <script>
function selectTF(value) {
    document.getElementById("true_false_answer").value = value;
}
</script>

</head>


<body>

{% include "top_navbar.html" %}

<main class="questions-page">

<section class="question-layout">

<section class="question-card">

<label class="section-title">Question Prompt</label>

<textarea
    name="question"
    class="question-box"
    rows="4"
    placeholder="Enter question in the following format: My name is ___ (three _ underscores)."
>{{ question if question else '' }}</textarea>

</section>


<section class="answer-card">

<div class="section-title">Answers</div>

<section class="answer-grid">

{% if q_style == "fill_blank" %}

    {% for i in range(1, answer_count + 1) %}

        <textarea
            name="answer_{{ i }}"
            class="answer-box"
            rows="2"
            placeholder="Enter Answer {{ i }}">
        </textarea>

    {% endfor %}

{% else %}

    <div class="true-false-container">

        <button
            type="button"
            class="tf-btn"
            onclick="selectTF('true')">
            True
        </button>

        <button
            type="button"
            class="tf-btn"
            onclick="selectTF('false')">
            False
        </button>

        <input type="hidden" name="true_false_answer" id="true_false_answer">

    </div>

{% endif %}

</section>

</section>

</section>

</main>

{% include "bottom_navbar.html" %}

</body>
</html>